.panel.panel-default.mg-top-24
  .panel-heading
    .panel-title
      %h1= t('devise.user.edit')
  .panel-body
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      = f.email_field :email, autofocus: true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        %i= (t('devise.user.leave_blank'))
        %br/
      = f.input :password, autocomplete: "off"
      - if @minimum_password_length
        %br/
        %em
          = @minimum_password_length
          = t('devise.user.characters_minimum')
      = f.input :password_confirmation, autocomplete: "off"
      .field
        %i= t('devise.user.current_password')
        %br/
      = f.input :current_password, autocomplete: "off"
      = f.button :submit
  .panel-footer
    %h3= t('devise.user.cancel_my_account')
    %p
      = t('devise.user.unhappy')
      ?

      \#{button_to "Удалить мою учетную запись", registration_path(resource_name), data: { confirm: "Удалить насовсем?" }, method: :delete}
    = link_to "Back", :back
