.panel.panel-primary.mg-top-60
  .panel-heading
    .panel-title
      %h2 Забыли пароль?
.panel.panel-info
  .panel-heading
    .panel-title
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!
        = f.input :email, autofocus: true
        = f.button :submit, value: "Вышлите, пожалуйста, на почту инструкцию по восстановлению пароля"
.panel.panel-primary.mg-top-60
  .panel-heading
    .panel-title
      = render "devise/shared/links"
