= simple_form_for [:admin, @post] do |f|
  = f.input :title
  = f.input :body, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }
  = image_tag @post.image.url(:smallthumb) if @post.image?
  = f.input :image
  = f.button :submit, 'Сохранить', class: 'btn btn-primary'
