- if post.public_on
  %tbody
    %tr.public-on
      %td.td-18= image_tag post.image.url(:smallthumb), class: 'img-responsive center-block' if post.image?
      %td.td-18.td-right= post.created_at.to_date.strftime("%d:%m:%Y")
      %td.td-18.td-right= post.updated_at.to_date.strftime("%d:%m:%Y")
      %td= link_to post.title, [:admin, post]
      %td.td-18= link_to icon('fa-toggle-on i-public-on', 'снять публикацию'), public_off_post_admin_post_path(post), method: 'put'
      %td.td-18= link_to icon('fa-edit', 'редактировать'), edit_admin_post_path(post)
      %td.td-18= link_to icon('fa-trash', 'удалить'), [:admin, post], method: :delete, data: {confirm: 'Действительно удалить?'}
    %tr
      %td{colspan: '7'}
        Теги:
        %small= raw post.tags.map(&:name).map{ |t| link_to t, admin_tag_path(t), class: 'tag' }.join(' ')
- else
  %tbody
    %tr.public-off
      %td.td-18= image_tag post.image.url(:smallthumb), class: 'img-responsive center-block' if post.image?
      %td.td-18.td-right= post.created_at.to_date.strftime("%d:%m:%Y")
      %td.td-18.td-right= post.updated_at.to_date.strftime("%d:%m:%Y")
      %td= link_to post.title, [:admin, post]
      %td.td-18= link_to icon('fa-toggle-off i-public-off', 'опубликовать'), public_post_admin_post_path(post), method: 'put'
      %td.td-18= link_to icon('fa-edit', 'редактировать'), edit_admin_post_path(post)
      %td.td-18= link_to icon('fa-trash', 'удалить'), [:admin, post], method: :delete, data: {confirm: 'Действительно удалить?'}
    %tr
      %td{colspan: '7'}
        Теги:
        %small= raw post.tags.map(&:name).map{ |t| link_to t, admin_tag_path(t), class: 'tag' }.join(' ')
