.row
  .col-md-1.clearfix
    = image_tag post.image.url(:smallthumb), class: 'img-responsive center-block' if post.image?
  .col-md-10
    %h3= link_to post.title, post
    %em
      %small= post.created_at.to_date.strftime("%d:%m:%Y")
    %p= strip_tags((post.body).truncate_words(100))
    %p
      %small= raw post.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: 'tag' }.join(' ')
