!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    = favicon_link_tag 'favicon.ico'
    %title Pblog
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body.users
    .container-fluide
      = render 'layouts/main_menu_admin'
    .container
      .whitesmoke
        = render 'layouts/flash_messages'
        = yield

    .container-fluide
      = render 'layouts/footer'
