!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type" }/
    = favicon_link_tag 'favicon.ico'
    %title Блог
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body.home-layout
    - if user_signed_in?
      .container-fluide
        = render 'layouts/shared/main_menu'
    -if admin_signed_in?
      .container-fluide
        = render 'layouts/shared/main_menu_admin'
    .container.body-min-height
      = render 'layouts/flash_messages'

      = yield

    .container-fluide
      = render 'layouts/shared/footer'
